*{
    box-sizing: border-box;
    direction: rtl;
    text-align: right;
    font-family: 'Arial (Hebrew)', Arial;
    font-size: 14px;
    color: white;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-backgrund{
    width: 100%    ;
    height: 105px;
    background: #909090; /* Old browsers */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#909090', endColorstr='#aaaaaa',GradientType=0 ); /* IE6-9 */

    margin-bottom: 25px;
    position: relative;
}

.navbar{
    position: relative;
}

.top-bar{
    display: flex;
    align-items: center;
    width: 300;
    position: absolute;
    left: 0;
    top: 20px;
}
.serch-bar{
    display: flex;
}
.serch-bar>.serch{
    width: 135px;
    height: 19px;
    border-top-right-radius: 6px;
    background-color: white;
}

.serch>input{
    width: 128px;
    border: none;
    background:none ;
    margin-right: 6px;
    margin-top: 2px;
}

.lang{
    font-size: 12px;
    font-weight: bold;
    margin-left: 18px;
}

.logo{
   position: absolute;
   right: -8px;
   bottom: -20px;
}
.row{
    width: 900px;
    display: flex;
    margin: auto;
}

.nav-elements-list{
    height: 105px;
    justify-content: flex-end;
    align-items: flex-end;
}

.nav-element>img{
    padding-left: 17px;
}
.nav-element>a{
    padding:0 17px;
    font-size: 15px;
    font-weight: bold;
    border-right:2px solid rgba(255,255,255,0.5) ;
    margin-bottom: 18px;
}

.nav-element{
    padding-bottom: 18px;
}

a:hover{
    cursor: pointer;
    color:rgb(3,93,160);
    text-decoration: underline;
}

.nav-element:hover>.dropdown-list {
    margin-top: 18px;
    display: block;
    position: absolute;
    z-index: 1;

}
 .dropdown-list{
    display: none;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.53);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.53);
    margin-right: 17px;
} 

.dropdown-element{
    background-color:rgb(140,140,140);
    border-bottom: 1px solid rgba(237,237,237,0.5);
    padding: 5px;
}

.dropdown-element:last-child{
    border: none;
}

/*************************************************************************************/
main>.row{
    justify-content: space-between;
}

.image{
    margin-bottom: 25px;
}
.img-article{
    position: relative;

}

.img-article > img{
   
    border-bottom-right-radius: 17px ;
}

.aritcal-brif{
    position:absolute;
    bottom: 10px;
    right: 5px;
    width: 248px;
    height: 97px;
    padding: 10px;
    opacity: 0.9;
    background-color:rgb(140,140,140);  
    border-bottom-right-radius: 12px ;

}

.artical-title{
     margin: 0px;
    font-weight: bold;
}

.artical-shortcut{
    margin: 4px 0 0 0;
    font-size: 13px;
    line-height: 1;
}

.read-more{
    position: relative;
    width: 100%;
    font-size: 13px;
    right: 175px;
    bottom:8px;  
}

.read-more>a{
    text-decoration: underline;
}
.on-hover:hover>a{
    cursor: pointer;
    color:rgb(3,93,160);
    text-decoration: underline;
}
.on-hover:hover>.arrow>.squere{
    background-color: rgb(3,93,160) ;
}

.squere{
    width: 3px;
    height: 3px;
    background-color: white;
}
.squere:nth-child(2){
    margin-right: 3px;
}

.arrow{
    display: inline-block;
}

.yellow .squere{
background-color: rgb(247,185,29);
}
.add{
    border: 2px solid rgb(140,140,140,0.1);
    width: 290px;
    height: 215px;
    margin-bottom: 72px;
}

.grad{
    border: 2px solid rgb(140,140,140,0.1);
    border-bottom: none;
    background: linear-gradient(0deg, rgba(237,237,237,1) , rgba(255, 255, 255) 100%);
    border-top-right-radius: 17px;
}

.add>h3 {
   
    margin: 0 22px 0 20px;
    padding: 8px;
    color: #575757;
    border-bottom: 3px solid rgb(243,243,243) ; 

}

.add>img{
    margin: 14px 18px 14px 18px ;  
}
 
.link-more-details{
    text-align: end;
    margin-left: 22px;
}
.more-details, .link-more-details, .locations{
    color: #72716d;
    text-decoration: underline;
    font-size: 13px;
}

.era {
    margin: 24px;
}
.locations{
    display: flex;
    width: 40px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.map-img{
    margin-left: 24px;
}

.map{
    display: flex;
    justify-content: space-between;
}
.footer{
    position: fixed;
    background: #aaaaaa; /* Old browsers */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#909090',GradientType=0 ); /* IE6-9 */
    width: 100%;
    height: 38px;
    bottom: 0;
}


.footer-elements{
    margin-top: 15px;
}
.footer-element  {
    height: 16PX;
    padding: 0 5px 0 5px ;
    border-left: 2px solid rgba(255,255,255,0.5) ;   
}

.footer-element:last-child{
    border-left: 0;
}

label{
    color: black;
}

/***********************************************************************/
.main{
    width: 900px;
    margin: auto;
}

.all-contact-details{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 80px;
}

.tab{
    align-self: flex-start;
    display: flex;
    align-items: center;
    width: 120px;
    height: 38px;
    background: linear-gradient(to bottom, #fafafa 1%,#cccccc 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#cccccc',GradientType=0 );
    box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.1);
}

.tab>a, .company-contact>a{
    color: #575757;
}
.tab>img{
     opacity: 0.8;
}

.tab>a{ 
    padding-right: 10px;
}

.contact-form{
    width: 385px;
}

.location, .location>a{
    color: #575757;
    margin-bottom: 20px;
}

.main-title{
    width: 440px;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1.3px solid #cbcbcb;
    margin-bottom: 12px;
    padding-bottom: 4px;
    color: #72716d;

}
.form-header{
    padding: 12px 22px;
}

.title{
    color: #005ca0;
    font-weight: bold;
    font-size: 15px;
}

.subtitle{
    color: #6d6d6d;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.2;
    margin: 5px 0;
}

.input-elment>label{
    color: #72716d;
    font-size: 12px;
}

input{
    width: 170px;
}

textarea{
    font-size: 12px;
    width: 245px;
    height: 110px;
    margin-top: 4px;
}

.send-form{
    margin: auto;
    width: 245px;
    display: flex;
    flex-direction: column;
}


.starred{
    color: #72716d;
    font-size: 12px;
}
.input-elment{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin:4px 0;
    
}

.btn-submit{
    align-self: flex-end;
    text-align: center;
    width:42px;
    height: 19px;
    background: linear-gradient(to bottom,  #15a8ff 0%,#04528a 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15a8ff', endColorstr='#04528a',GradientType=0 ); 
    border: none;
    border-top-right-radius:8px ;
    margin-top:8px ;
    margin-bottom: 27px;
} */
 .btn-submit{
    align-self: flex-end;
    text-align: center;
    /* width:42px;
    height: 19px; */
    /* background: linear-gradient(to bottom,  #15a8ff 0%,#04528a 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15a8ff', endColorstr='#04528a',GradientType=0 ); 
    border: none; */
    /* border-top-right-radius:8px ; */
    margin-top:8px ;
    margin-bottom: 27px;
} 

.btn-submit:hover{
    background: #f9e531; /* Old browsers */
    background: linear-gradient(to bottom,  #f9e531 30%,#e8720b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9e531', endColorstr='#e8720b',GradientType=0 ); /* IE6-9 */
}

.btn-submit:hover>span{
    display: inline-block;
    height: 19px;
    width: 30px;
    padding-top: 2px;
    text-align: center;
    background: rgb(237,237,237);
     color: black; 
}
.company-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.company-contact{
    height: 168px;
    width:290px ;
    margin-top: 50px;
}

.company-contact>.on-hover>a{
    color: rgb(31,43,239);
}

.title-company{
    border-bottom: 2px solid rgba(140,140,140,0.2);
}

.error{
    display: none;
    color: red;
    font-size: 12px;
}

.form-submitted input:invalid + .error {
   display: block;
}
